//**
//* Global definitions
//**

$DEBUG: false;        // Enable or disable debug display.
$ENABLE-MARK: false;  // Enable or disable the display of a dotted line on the elements which use the 'mark' mixin.
$COLS: 6;             // Maximum number of columns enabled for bootstrap mode.
$COLS: 6;             // Maximum number of columns enabled for bootstrap mode.
$ROWS: (A,B,C,D);

$MEDIA-BREAKPOINTS: (
  (sm,  576px,   767px),
  (md,  768px,   991px),
  (lg,  992px,  1199px),
  (xl, 1200px, 99999px),
);

//*******************************
//* Global functions & mixins
//*******************************

// This mixin will just enable or disable some features when debugging; those
// features should be disabled by default

@mixin enableDebugging() {
  $DEBUG: true !global;
  $ENABLE-MARK: true !global;
}

/// Simple function to generate a random color.
///
/// @param none
///
/// @return {Color} - A random generated color

@function random-color() {
  @return rgb(random(255), random(255), random(255));
}

/// Mixin to generate some display attributes that will aid on design
///
/// @param {Color}   $color - The color to be used for the border and background. Default: Random color.
/// @param {Boolean} $gradient - Should fill the cell with a gradient?
/// @param {Boolean} $mesh - Should fill the cell with a mesh?

@mixin mark($color: random-color(), $gradient: false, $mesh: true) {
  @if $ENABLE-MARK {
    border: 2px inset transparentize($color, 0.5) !important;
    background-color: transparentize($color, 0.85) !important;
    background-image: (
      if($mesh, url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJklEQVQYV2NkYGBogGIGEGAEEf///29gZGQESUAEoACsElkArBIADGgJguyRCM8AAAAASUVORK5CYII="), null),
      if($gradient, linear-gradient($color, scale-color($color, $lightness: 50%), $color), null),
    ) !important;
    background-repeat: repeat !important;
    border-radius: 7px !important;
    margin: 1px !important;
  }
  @if $DEBUG {
    @content;
  }
}
